
.container {
  height: 90vh;
  margin-top: 5vh !important;
}

.columns {
  height: 100%;
}

.box {
  height: 100%;
}

textarea {
  height: 80%;
  width: 100%;
}

.content {
  height: 87%;
  max-width: 620px;
  overflow: auto;
}
